<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
</head>
<body>
    <h2>Admin Portal</h2>
    <hr/>
    <h4><a href="list">Profile List</a> | <a href="/">Create Profile</a></h4>
    <hr/>
    {{{body}}}
</body>
</html>
